@tailwind base;
@tailwind components;
@tailwind utilities;

/* DM Sans Font Family */
@font-face {
  font-family: "DM Sans";
  src: url("/src/assets/fonts/DM_Sans/static/DMSans-Light.ttf")
    format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "DM Sans";
  src: url("/src/assets/fonts/DM_Sans/static/DMSans-Medium.ttf")
    format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "DM Sans";
  src: url("/src/assets/fonts/DM_Sans/static/DMSans-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "DM Sans";
  src: url("/src/assets/fonts/DM_Sans/static/DMSans-SemiBoldItalic.ttf")
    format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "DM Sans";
  src: url("/src/assets/fonts/DM_Sans/static/DMSans-Bold.ttf")
    format("truetype");
  font-weight: 700;
}

/* Bricolage Grotesque Font Family */
@font-face {
  font-family: "Bricolage Grotesque";
  src: url("/src/assets/fonts/Bricolage_Grotesque/static/BricolageGrotesque-Bold.ttf")
    format("truetype");
  font-weight: 700;
}

:root {
  --orange: hsl(28, 100%, 52%);
  --blue-500: hsl(233, 67%, 56%);
  --blue-700: hsl(248, 70%, 36%);
  --neutral-0: hsl(0, 0%, 100%);
  --neutral-200: hsl(250, 6%, 84%);
  --neutral-300: hsl(240, 6%, 70%);
  --neutral-600: #3C3A5F;
  --neutral-700: #25253F;
  --neutral-800: #2F2F49;
  --neutral-900: #02012B;

  --sans: "DM Sans", system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: "Bricolage Grotesque", system-ui, "Segoe UI", Roboto, sans-serif;
  font-size: 18px;
}

html {
  height: 100%;
  font-family: var(--sans);
  background-color: var(--neutral-900);
  color: var(--neutral-0);
}

h1,
h2 {
  font-family: var(--heading);
}
.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
